# Environment & Secrets
.env
secrets.yaml

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data & Models
data/processed/
models/
*.pkl
*.joblib

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Documentation
doc/
